@font-face{
    font-family: poppins;
    src:url(poppins/Poppins-Regular.ttf)
}

body{
    font-family: poppins;
}
.home-page{
    display: flex;
}
.kitisuru{
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/welcome.jpg);
    height: 100vh;
    width:50%;
    color: white;
    text-align: center;
}

.writing{
    margin-top: 35%;
    font-size: 22px;
    line-height: 15px;
    h4{
        color: orangered ;
    }
    h1{
        font-size: 60px;
    }
}

.kitisuru a{
    text-decoration:none;
    color: white;
    font-size: 15px; 
}

.kilimani{
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65e5a29a2a2b1c4a493fff75_ankolegrill_Kilimani-Nights.jpg);
    height: 100vh;
    width: 50%;
    color: white;
    text-align:center;
}
.kilimani a{
    text-decoration:none;
    color: white;
    font-size: 15px;
}

